#root {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.grey-btn {
  width: 100px;
  height: 50px;
  background-color: #e0e0e0;
  border: 1px solid #bababa;
  font-weight: bold;
}

.plus {
  width: 200px;
}

.orange-btn {
  width: 100px;
  height: 50px;
  background-color: #f5913e;
  border: 1px solid #bababa;
  font-weight: bold;
}

.input {
  background-color: #858694;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  width: 396px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.input:focus {
  outline: none;
}
